
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3" routerLink="/ProviancialInventoryKwekwe"
    routerLinkActive="true">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="pi pi-slack" style="font-size: 2rem"></i>
          </h1>
          <h6 class="text-white">Proviancial Inventory Kwekwe</h6>
        </div>
      </div>
    </div>

    
div class="row">
<!-- Column -->
<div class="col-md-6 col-lg-2 col-xlg-3" routerLink="/ProviancialInventoryKadoma"
routerLinkActive="true">
  <div class="card card-hover">
    <div class="box bg-cyan text-center">
      <h1 class="font-light text-white">
        <i class="pi pi-slack" style="font-size: 2rem"></i>
      </h1>
      <h6 class="text-white">Proviancial Inventory Kadoma</h6>
    </div>
  </div>
</div>

div class="row">
<!-- Column -->
<div class="col-md-6 col-lg-2 col-xlg-3" routerLink="/ProviancialInventoryMarondera"
routerLinkActive="true">
  <div class="card card-hover">
    <div class="box bg-cyan text-center">
      <h1 class="font-light text-white">
        <i class="pi pi-slack" style="font-size: 2rem"></i>
      </h1>
      <h6 class="text-white">Proviancial Inventory Kadoma</h6>
    </div>
  </div>
</div>
div class="row">
<!-- Column -->
<div class="col-md-6 col-lg-2 col-xlg-3" routerLink="/ProviancialInventoryBulawayo"
routerLinkActive="true">
  <div class="card card-hover">
    <div class="box bg-cyan text-center">
      <h1 class="font-light text-white">
        <i class="pi pi-slack" style="font-size: 2rem"></i>
      </h1>
      <h6 class="text-white">Proviancial Inventory Kadoma</h6>
    </div>
  </div>
</div>
div class="row">
<!-- Column -->
<div class="col-md-6 col-lg-2 col-xlg-3" routerLink="/ProviancialInventoryKadoma"
routerLinkActive="true">
  <div class="card card-hover">
    <div class="box bg-cyan text-center">
      <h1 class="font-light text-white">
        <i class="pi pi-slack" style="font-size: 2rem"></i>
      </h1>
      <h6 class="text-white">Proviancial Inventory Kadoma</h6>
    </div>
  </div>
</div>
div class="row">
<!-- Column -->
<div class="col-md-6 col-lg-2 col-xlg-3" routerLink="/ProviancialInventoryVictoriafalls"
routerLinkActive="true">
  <div class="card card-hover">
    <div class="box bg-cyan text-center">
      <h1 class="font-light text-white">
        <i class="pi pi-slack" style="font-size: 2rem"></i>
      </h1>
      <h6 class="text-white">Proviancial Inventory Kadoma</h6>
    </div>
  </div>
</div>
<!-- Column -->
<div class="col-md-6 col-lg-2 col-xlg-3" routerLink="/ProviancialInventoryVictoriafalls"
routerLinkActive="true">
  <div class="card card-hover">
    <div class="box bg-cyan text-center">
      <h1 class="font-light text-white">
        <i class="pi pi-slack" style="font-size: 2rem"></i>
      </h1>
      <h6 class="text-white">Proviancial Inventory Kadoma</h6>
    </div>
  </div>
</div>
<!-- Column -->
<div class="col-md-6 col-lg-2 col-xlg-3" routerLink="/ProviancialInventoryVictoriafalls"
routerLinkActive="true">
  <div class="card card-hover">
    <div class="box bg-cyan text-center">
      <h1 class="font-light text-white">
        <i class="pi pi-slack" style="font-size: 2rem"></i>
      </h1>
      <h6 class="text-white">Proviancial Inventory Kadoma</h6>
    </div>
  </div>
</div>





